<main>
  <section class="content">
    <div class="pl-20">Get in Touch</div>
    <p class="pl-20">Ready to secure your home? Contact us for a free consultation or quote!</p>

    <form (ngSubmit)="onSubmit()" class="form textarea">
      <label for="name">Name:</label>
      <input type="text" [(ngModel)]="name" required />

      <!-- <label for="email">Email:</label>
      <input type="email" [(ngModel)]="email" /> -->

      <label for="mobile">Mobile Number:</label>
      <input type="tel" [(ngModel)]="mobile" required />

      <label for="message">Message:</label>
      <textarea id="message" [(ngModel)]="message" rows="4" required></textarea>

      <button type="submit" class="cta-button" [disabled]="sending">Send Message</button>
    </form>

    <div *ngIf="success" class="success-msg">Your message has been sent successfully!</div>
    <div *ngIf="error" class="error-msg">Oops! Something went wrong. Try again.</div>

    <div class="contact-info">
      <h3><b>Other Ways to Reach Us:</b></h3>
      <p><b>Phone: </b> +918121317131, +919948506046, +917569385372</p>
      <p><b>Email:</b> sainishiva6214&#64;gmail.com</p>
      <p><b>Address: </b> 5-5-555, Malakunta, Nampally, Hyderabad, Telangana 500001</p>
    </div>
  </section>
</main>