/* Default styles for desktop */
.nav-text {
  display: inline;
}

/* Styles for screens smaller than 500px */
@media (max-width: 500px) {
  .nav-text {
    display: none; /* Hides the text */
  }

  .app-name{
    font-size: 0.8rem;
  }
}

/* Default styles for mobile (less than 500px) */
.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust based on your header's height */
  right: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  color: var(--white);
  width: 30%;
  background-color: var(--primary);
}

.nav-links.open {
  display: flex; /* Show the menu when it has the 'open' class */
}

.hamburger-icon {
  display: block; /* Show the hamburger button by default */
  background: none;
  border: none;
  cursor: pointer;
}

/* Styles for screens larger than 500px */
@media (min-width: 500px) {
  .nav-links {
    display: flex; /* Show the menu as a row */
    position: static;
    box-shadow: none;
  }

  .hamburger-icon {
    display: none; /* Hide the hamburger button */
  }
}


.app-name {
    font-weight:bold;
    align-items:end;
    cursor: pointer;
}

header {
    background: #004d40; /* Dark Teal */
    color: #fff;
    padding: 1rem 2rem;
    position: sticky;
    z-index: 10;
}

header {
    display: flex;
    justify-content: space-between;
}


header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

header ul li {
    margin-left:auto;
    margin: 0.5rem 0; 
    margin-right: 1.5rem;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
      display: flex;
    align-items: center;
}

header ul li a:hover {
    color: #e0f2f1; /* Light Teal */
}
