.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: var(--primary);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

ol,ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links ul li {
  list-style: none;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: var(--primary);
    width: 100%;
    padding: 20px 10px;
    display: none;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
  }

  .nav-links.open {
    max-height: 500px;
    transition: color 0.5s ease;
    max-width: 40%;
    border-radius: 0 0 0 10px ;
    align-items: flex-start;
    display: flex;
  }

  .menu-toggle {
    display: block; 
  }
}

@media (min-width: 768px) {

  .nav-links ul {
    display: flex;
    gap: 20px;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  text-decoration: none;
  padding: 4px 8px;
}

.nav-item .icon mat-icon {
  font-size: 20px;
  vertical-align: middle;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
