<footer class="footer">
    <p>&copy; 2025 BirdGuard Nets. All rights reserved.</p>
</footer>

<!-- 
<div>
    <div>
        <fa-icon icon="bars"></fa-icon>
    </div>

    <div>
        <i class="fa-solid fa-question-circle"></i>
        <span><mat-icon>mail</mat-icon></span>
    </div>

    <div>
        <mat-icon fontIcon="fa-instagram"></mat-icon> 
        <span><mat-icon>call</mat-icon></span>
        
    </div>
    <div>
        <span><mat-icon>youtube</mat-icon></span>
        <span><mat-icon>facebook</mat-icon></span>
    </div>
    <div>
    </div>
</div> -->