.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--primary);
    color: #fff;
    left: 0;
    width: 100%;
    z-index: 999;
}