<main>
    <h5>Our High Quality Safety Nets</h5>

    <section>
        @for (category of products; track $index) {
            <h2>{{category.category}}</h2>
            <div class="product-listing-wrapper">
                <div class="product-listing">
                    @for (product of category.categoryList.slice(0, 6); track $index) {
                        <div class="product-item">
                            <img [src]="product.imgPath" />
                            <h6>{{product.heading}}</h6>
                            <p>{{product.description}}</p>
                            <a class="cta-button" (click)="inquire(product)">Inquire Now</a>
                        </div>
                    }
                    <div class="product-item show-all-box">
                        <a (click)="navigateTo(products)" class="show-all-link">Show All</a>
                    </div>
                </div>
            </div>
        }
    </section>
</main>