<main>
    <section class="hero">
        <div class="hero-container">
            <div class="heading">Protect Your Home with Our Durable Safety Nets</div>
            <p>Keep birds and pests out without harming them. Our nets are discreet, strong, and built to last.</p>
            <a routerLink='/products' class="cta-button">View Our Products</a>
        </div>
    </section>

    <section class="features">
        <h2>Why Choose Our Safety Nets?</h2>
        <div class="feature-container">
            <div class="feature-item">
                <h3>Durable & Long-Lasting</h3>
                <p>Made from high-quality materials, our nets withstand all weather conditions.</p>
            </div>
            <div class="feature-item">
                <h3>Discreet & Aesthetic</h3>
                <p>Our transparent nets are nearly invisible, maintaining the look of your home.</p>
            </div>
            <div class="feature-item">
                <h3>Humane & Safe</h3>
                <p>Effectively prevents birds from entering while being completely safe for them.</p>
            </div>
        </div>
    </section>

    <section class="features">
        <h2>What Our Customers Say</h2>
        <div class="review-carousel">
            <div class="review-content">
                <p>
                    {{ getTruncatedText(reviews[currentReview].text) }}
                    <span *ngIf="!showFullText">
                        {{ getTruncatedText(reviews[currentReview].text) }}
                        <span *ngIf="isTextOverflow(reviews[currentReview].text)" class="show-more"
                            (click)="showFullText = true">Show more</span>
                    </span>
                    <span *ngIf="showFullText">
                        {{ reviews[currentReview].text }}
                        <span class="show-more" (click)="showFullText = false">Show less</span>
                    </span>
                </p>
                <cite>{{ reviews[currentReview].author }}</cite>
            </div>
            <div class="carousel-controls">
                <span class="carousel-btn-container">
                    <button class="carousel-btn" (click)="prevReview()" aria-label="Previous Review">&#8592;</button>
                </span>
                <span>{{ currentReview + 1 }} / {{ reviews.length }}</span>
                <span class="carousel-btn-container">
                    <button class="carousel-btn" (click)="nextReview()" aria-label="Next Review">&#8594;</button>
                </span>
            </div>
        </div>
    </section>
</main>